



.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}


#section-watchlist li {
	padding: 0px;
	margin: 0px 4% 4% 0px;
	width: 160px;
}


#section-watchlist li button {
	width: 100%;
	margin-top: 10px;
}


#section-watchlist ul {
	text-align: center;
}


.main-content {
	color: gray;
}

#section-browse {
	background: #222;
}

#section-browse ul{
	padding-left: 0;
}

#section-browse form {
	margin-bottom: 2%;
}

#section-browse h2{
	color: #f3f3f3;
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

#browse-carousel {
    max-width: 300px;
    margin: auto;
}
#add-to-watchlist{
	width: 100%;
}

.well{
	background: rgb(242, 85, 85);
	border: none;
	color: white;
}
